<div class="container">
  <section class="search">
    <form class="input-box" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-form-field>
        <mat-label class="input-label">🔍 Enter any city...</mat-label>
        <input
          class="search-field"
          type="text"
          aria-label="City"
          matInput
          [(ngModel)]="searchParam"
          [formControl]="searchField"
          (keyup)="autocomplete.next($any($event).target.Value)"
        />
      </mat-form-field>
      <button
        class="btn-submit"
        type="submit"
        (click)="onSubmit(); $event.preventDefault()"
      >
        Submit
      </button>
    </form>
  </section>

  <section class="weather-current">
    <div class="weather-box">
      <div class="weather-info">
        <h2 class="city-name">{{ CurrentCityName }}</h2>
        <h3 class="date">{{ CurrentDate | date: "dd/MM/yyyy" }}</h3>
        <p class="description">{{ CurrentDescription }}</p>
        <p class="temp-day">
          <span class="weather-now">NOW</span>
          {{ CurrentTemp }}°C
        </p>
      </div>
    </div>
  </section>

  <section class="weather-days">
    <div
      *ngFor="let item of fiveDaysForecast$ | async; let i = index"
      class="weather-box"
    >
      <div class="weather-info">
        <h2 class="city-name">{{ cityName }}</h2>
        <h3 class="date">{{ item.Date | date: "dd/MM/yyyy" }}</h3>
        <p class="temp-day">
          {{ item.Temperature.Maximum.Value | temperatureConverter: "C" }}°C 🌞
        </p>
        <p class="description">{{ item.Day.IconPhrase }}</p>

        <p class="temp-night">
          {{ item.Temperature.Minimum.Value | temperatureConverter: "C" }}°C 🌛
        </p>
        <p class="description">{{ item.Night.IconPhrase }}</p>
      </div>
    </div>
  </section>
</div>
