.container {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(#116396, #9198e5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.search {
  max-width: 40rem;
  margin: 0 auto;
}

.input-box {
  padding: 1rem 4rem;
  text-align: center;
  background: white;
  border-radius: 50rem;
  display: flex;
  align-items: center;
}
.input-label {
  font-size: 1.6rem;
}
.search-field {
  font-size: 1.6rem;
}
.btn-submit {
  padding: 1rem 2rem;
  background: #0a67ca;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 50rem;
}
//-----

// -----

.weather-days {
  padding: 0 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.weather-box {
  text-align: center;
  width: 20rem;
  justify-self: center;
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
}

.weather-info {
  background-color: white;
  height: 35rem;
}

.city-name {
  padding: 2rem 0;
  text-align: center;
  background: #0548b5;
  color: white;
  font-size: large;
}

.date {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0;
}
.weather-info p {
  padding: 1rem 4rem;
  font-size: large;
  font-weight: 500;
}

.description {
  height: 6.5rem;
}

.weather-now {
  font-size: small;
  font-weight: bold;
  color: #ab0a0a;
}
